<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qihoo.ailab">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application>

        <activity android:name="com.qihoo.ailab.ui.BlockRuleActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.qihoo.ailab.ui.BlockDataActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

    </application>
</manifest>